<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="css/client.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">


    <script type="text/javascript" src="js/client.js"></script>
</head>

<body onload="ready()">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="current-time">00:00:00</h1>
            </div>
            <div class="col">
            </div>
            <div class="col text-right">
                <h1 id="current-temperature">Loading...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 id="current-date">1/1/1970</h2>
            </div>
            <div class="col">
            </div>
            <div class="col text-right">
                <h2 id="current-weather-icon">Loading...</h2>
                <h3 id="current-weather-summary">Loading...</h3>
            </div>
        </div>
        <div class="row">
            <div id="headlines" class="col fixed-bottom">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</body>

</html>