<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- <link rel="stylesheet" href="css/mirror.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">


    <script type="text/javascript" src="js/new-mirror.js"></script>
</head>

<body onload="ready()" class="bg-dark">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 col-md-12 col-sm-12 offset-lg-4 text-center">
                    <p class="text-light">This is a new device, please activate it.</p>
                    <p class="text-light">To activate, go to <span id="activate-link" class="badge badge-secondary"></span>
                        and type the code
                        below:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bg-secondary rounded col-lg-4 offset-lg-4 text-center">
                <div>
                    <h1 class="d-inline display-1 text-light mx-auto">####</h1>
                </div>
            </div>
        </div>
</body>

</html>